html {
    font-family: "Times New Roman", Times, serif;
    width: 220mm;
    margin: 0 auto;

}

html body {
    padding: 0.25in 0.75in 0in 1in;
    font-size: .875rem !important;
}
table {
    border-collapse: collapse;
    text-indent: initial;
    white-space-collapse: collapse;
    text-wrap: wrap;
    line-height: normal;
    font-weight: normal;
    font-size: .875rem !important;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
    padding: 0 10px;
}
/* Loại bỏ lỗi phông chữ */
@font-face {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
}

body {
    font-family: "Times New Roman", Times, serif;
}

/* Căn đều nội dung trong quá trình in */
