@charset "utf-8";
/* CSS Document */

body{
	margin: 0 !important;
	/*font-family: 'Roboto', sans-serif !important;
	font-family: 'Roboto Condensed', sans-serif;*/
	font-family: "Montserrat", sans-serif !important;
	font-weight: 500 !important;
	font-size: 16px !important;
	line-height: 1.6 !important;
	color: #333 !important;
	background: #F5F9FE !important;
}
a{color: #2067DD;}
a:hover{color: #2067DD;text-decoration: none;}
.banner {
    background-image: url('../images/bg_bg.jpg') ;
	background-color: #2B5988;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 450px;
	margin-top: 80px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	border: none;
	border-radius: 0;
}
.bg-td{
	/*background: url('../images/td.png') no-repeat center left;*/
}
.fixed-top1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	background-color:#2B5988;
	border: none;
	border-radius: 0;
}
.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f8f8f8;
}
.navbar-brand1{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-right: 10px !important;
}
.mh-75{min-height: 75px;}
.slogan{
	display: inline-block;
}
.slogan h3{
	text-transform: uppercase;
	 font-weight: 900;
	 margin-bottom: 0;
	 font-size: 22px;
	 color: #ffd800;
}
.slogan h4{
	margin-top: 5px;
	font-weight: 300;
	color: #855025;
}
.sticky-top .navbar-nav > li > a{
	color: #fff;
}

.sticky-top .navbar-nav > .active > a, .sticky-top .navbar-nav > .active > a:hover, .sticky-top .navbar-nav > .active > a:focus{
	color: #ffd800 !important;
	background-color: transparent !important;
}
.mt-10{
	margin-top: 10px;
}
.box-search{
	margin-top: 130px;
}
.box-search h1{
	text-shadow: 0 1px 2px rgba(0,0,0,0.8);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 48px;
	text-align: center;
}
.bo-l{border-radius: 30px 0 0 30px; }
.bo-r{border-radius: 0 30px 30px 0; }
/*.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background: #2B5988;
	color: #fff;
}*/
@media screen and (max-width: 1024px) {
	.navbar-brand1 img{height: 45px;}
	.box-slide{left: 20px !important;right: 20px !important;}
	.text-bg-NGSP{
		font-size: 6em !important;
		line-height: 5rem;
		top: 34px !important;
	}
  }
@media screen and (max-width: 767px) {
	.navbar-default .navbar-collapse{
		background: #fff8f3;
	}
	.fixed-top .navbar-nav > li > a{color: #4a4a4a;}
	.fixed-top .navbar-nav > li > a:hover{color: #855025;}
	.nav-data li{
		float: left !important;
}
	.navbar-toggle{margin-top: 15px;}
	.mt-80{margin-top: 60px !important;}
	.mt-150{margin-top: 85px;}
	.mt-30slide{margin-top: 0px !important;}
	.bg-slide{height: 667px !important;}
	.mh-250{min-height: auto !important;}
	
  }
@media screen and (max-width: 500px) {
	.slogan h3, .slogan h4{
		font-size: 90%;
}
	.navbar-brand > img{
		height: 45px;
	}
	.media-object{width: 120px;}
	.box-new{
	min-height: 156px;
	
	}
  }
.bt-dn{
	color: #2067DD !important;
	/*border-radius: 20px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;*/
	text-transform: uppercase;
	margin-top: 5px;
}
.text-vang{color: #fff; font-weight: 200;}
.text-vang:hover{color: #ffd800;}

.notice {
	margin-top: 5px;
}
.notice marquee {
  color: #fff;
}
.notice marquee ul {
  padding: 0;
  margin: 0;
}
.notice marquee ul li {
  line-height: 2;
  margin-right: 15px;
}
.notice marquee ul li:before {
  content: '\f061';
  font-family: 'FontAwesome';
  display: inline-block;
  color: #fdb10f;
  margin-right: 6px;
  font-size: 10px;
}
.flash-box {
  width: 150px;
  height: 38px;
  position: relative;
  background: #c9302c;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 2.3;
}
.flash-box:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #c9302c;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.flash-box:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: -1px;
  width: 0;
  height: 0;
  border-left: 20px solid #c9302c;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
marquee {
  position: relative;
  top: 4px;
}
.text-mac{
	color: #fff;
}
.font18{font-size: 18px;}
.text-mac:hover{color: #F8C100;}
.bg-xam{
	background: #F5F5F5;
}
.pad-TB30{padding-top: 30px;padding-bottom: 30px;}
.tle{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 700;
	color: #083071;
}
.box1{
	background: #fff;
	border-radius: 4px;
	padding: 20px;
	display: inline-block;
	margin-bottom: 20px;
}
.mr-10{margin-right: 10px;}
.mr-5{margin-right: 5px;}
.tle1{
	line-height: 1.3;
}
.tle1 a{
	color: #333;
	font-size: 16px;
}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}
.ml-5{margin-left: 5px;}
.bg-xanh{background: #2067DD !important;border-color: #2067DD !important;color: #fff;}
.img-dt {
    display: block;
    text-align: center;
    min-height: 120px;
    margin-bottom: 20px;
    position: relative;
}
.pos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bg-xanh-dam{
	background: #DFEAFB;
	padding-bottom: 10px;
	padding-top: 10px;
}
.text-xanhnhat{color: #083071;}
.text-xanhnhat:hover{color: #fff;}
.text-trang{color: #fff;}
.menu-f li a{
	padding-bottom: 5px;
	padding-top: 5px;
	display: block;
	color: #fff;
}
.breadcrumb{
	background-color: transparent;
	border-bottom: solid 1px #ccc;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
}
.mt-70{margin-top: 70px;}
.ml-10{margin-left: 10px;}

.mta-20{
	margin-top: -30px;
}
.mt-0{margin-top: 0;}
.bo-b{border-bottom: solid 1px #ccc;margin-bottom: 20px;}
.w-1{width: 200px;}
.text-xanh{color: #2B5988;}
.mb-50{margin-bottom: 50px;}
.tle2{/*display: inline-block; margin-right: 40px;*/}
.text-warning{color: #ff9600;}
.box-tin{position: relative;}
.organization-type-wrap {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.organization-type {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    position: absolute;
    right: 0;
    width: 120px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    top: -18px;
    right: -54px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #666;
}
.organization-type[data-organization-type="federal"] {background-color: #71999f;}
.organization-type[data-organization-type="university"] {background-color: #71769f;}
.organization-type {
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: 
    white;
}
.text-black{color: #333;}
.ul-pt{
	padding-left: 0;
	list-style: none;
}
.ul-pt li{
	background:url("../images/Component%205%20%C3%A2__%2075.png") no-repeat 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.ul-pt li a{
	color: #333;
}
.ul-pt li a:hover{color: #2B5988;}
.mt-50{margin-top: 50px;}
.table-bordered > thead > tr > th{text-align: center; background: #2067DD; color: #fff;text-transform: uppercase;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{padding: 13px;}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{border-bottom: solid 3px #ffd800;}
.table-bordered{border: solid 2px #2067DD;}
.bg-danger1{background: #ff0000;}
.bg-vang{background: #ffba00;}
.bg-xanhla{background: #16922b;}
.bg-xanhnhe{background: #76c3f0;}
.bg-danger1,.bg-vang,.bg-xanhla,.bg-xanhnhe{text-align: center;}
.nav-data > li.active > a, .nav-data > li.active > a:hover, .nav-data > li.active > a:focus{
	color: #ffd800 !important;
	border: none !important;
}
.nav-data{
	border-bottom: none !important;
	background: #fff !important;
}
.nav-data li{
	margin-bottom: 20px !important;
}
.nav-data li a{
	color: #888888 !important;
	padding: 0 5px !important;
	border: none !important;
}
.nav-data li a:hover{
	color: #ffd800 !important;
	background: #fff !important;
	border: none !important;
}
.nav-data.nav-justified > li > a{
	border-bottom: none !important;
}
.bg-map{
	background: url("../images/map.jpg");
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 799px;
}
.bt-xemthem{
	border: solid 1px #ffd800;
	border-radius: 30px;
	padding: 6px 12px; 
}
.bt-xemthem:hover{
	background: #ffd800;
	color: #fff;
	text-decoration: none;
}
.hedear-tab{
	background: #fff;
	border-bottom: solid 1px #ccc;
	padding-top: 20px;
}
.mb-10{margin-bottom: 10px;}
.logo-f a{
	margin-left: 10px;
	margin-right: 10px;
}
.mb-0{margin-bottom: 0;}
.box-lv{margin-bottom: 30px;}
.box-lv a{color: #717171;}
.box-lv a:hover{color: #ffd800; }
.mt-20{margin-top: 20px;}
.mt-20{margin-top: 20px;}
.tle-home{
	background: #ffd800;
	border-radius: 4px 4px 0 0;
	padding: 14px 14px 8px 14px;
	margin-bottom: 0;
	text-align: center;
}
.tle-home a{color: #fff; text-transform: uppercase;}
.box-tin1{
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	margin-bottom: 20px;
}
.box-tin1 h4{
	border-bottom: 2px solid #ffd800;
	color: #ffd800;
	text-transform: uppercase;
	padding: 14px 14px 8px 14px;
	margin-top: 0;
}
.pad-20{padding: 20px;}
.link-a{color: #333;font-size: 16px;}
.min-h600{min-height: 790px;}
.mt-100{margin-top: 100px;}
.box-tke{
	background: #f8f8f8;
	padding: 20px;
	border-radius: 6px;
}
.item-data{
	border: none;
	background-color: transparent;
}
.text-so{
	font-size: 20px;
	color: #2067DD;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	background: #e3eeff;
border-color: #e3eeff;
color: #2067DD;
font-weight: 700;
}
.tle-trang{
	border-bottom: 2px solid #2067DD;
	color: #2067DD;
	text-transform: uppercase;
	padding-bottom: 8px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background: #2067DD;
	border-color: #2067DD;
}
.pagination > li > a, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{color: #2067DD;}
.tle-tt{
	color: #2067DD;
	border-bottom: solid 1px #dc9f6e;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-bottom: 30px;
}
.text-atin{
	color: #333;
	
}
.text-atin:hover, .ul-tintiep li a:hover, .ul-tintiep1 li a:hover{color: #2067DD;}
.ul-tintiep li{
	background: url("../images/Component%205%20%E2%80%93%2075.png") no-repeat left 7px;
	padding-left: 15px;
	margin-bottom: 20px;
	text-align: justify;
}
.ul-tintiep li a{color: #333;}
.ul-tintiep1 li{
	margin-bottom: 20px;
	text-align: justify;
}
.ul-tintiep1 li a{color: #333;}

/*mạng XH*/
.mang-right{
	text-align: right;
}
.mang-right p{margin-bottom: 0;}
.bg-FB{background: #3a5ca3; border: solid 1px #3a5ca3; color: #fff;}
.bg-FB:hover{background: #294785; border: solid 1px #294785; color: #fff;}
.mau-FB{color: #3a5ca3;}
.mau-T{color: #38a5c9;}
.mau-G{color: #f6424d;}
.mau-P{color: #ab2129;}
/*end mạng XH*/

.dvi{
	border-radius: 6px;
	background: #dc9f6e;
	font-size: 13px;
	color: #fff;
	padding: 4px 10px;
}

.tle1a{
	border-bottom: solid 1px #dc9f6e;
	color: #dc9f6e;
	text-transform: uppercase;
	padding-bottom: 5px;
	margin-top: 0;
}
.box1a{
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 30px;
}
.mh5{min-height: 360px;}
.mt-30{
	margin-top: 30px;
}
.mt-30slide{
	margin-top: 30px;
}
/*slide*/
.mt-80{margin-top: 80px;}
.tle-slide{
	font-weight: 700;
	font-size: 50px;
}
#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1, 
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3 {
      height: 450px;
    }

#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 30%;
  bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;  
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
  opacity: 1;
}
@media screen and (max-width : 480px) {    
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
      width: 50px;
      height: 8px;
      position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
       width: 50px;
       left: 50%;
       margin-top: -50px;
       margin-left: -25px;
    }
	.tle-slide{font-size: 30px;font-weight: 400;}
}

/*end slide*/
.box-slide{
	position: absolute;
	left: 35%;
	right: 35%;
	z-index: 10;
}
.font30{font-size: 30px !important;}
.font22{font-size: 22px !important;line-height: 2;}
.lin22 tr td i{line-height: 3;}
.font30a{
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
.mh-200{min-height: 257px;}
.cach{margin-left: 10px;margin-right: 10px;color: #ccc;}



.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    border:0;
    top:102%;
    border-radius:0px 0px 5px 5px;
	border-top: solid 3px #ffd800;
	
}
.dropdown-item:hover{
    background:#085ca5;
    color:#fff;
}
.dropdown-menu a{
    color:#fff;
	font-size: 16px;
	padding: 15px 20px !important;
} 
.dropdown-menu a:hover{color: #2067DD !important;}
.navbar .nav-item .nav-link{
   
    
}
.navbar-default .navbar-nav > li > a:hover{color: #ffd800 !important;}
.navbar-default .navbar-nav > li > a{}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;
    
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
	border-bottom: 10px solid #ffd800;
}
.dmenu .arrow-up {
    position: absolute;
    top: -10px;
    left: 45%;
}
.modal-header {
    border-bottom: 2px solid #2067DD;
}
.modal-title{color: #2067DD;}
.btn-primary{
	background: #dc9f6e;
	border-color: #dc9f6e;
}
.btn-primary:hover{background: #ffd800;border-color: #ffd800;}
.text-trang:hover{color: #fff;}
.lin2{line-height: 2;font-size: 14px;}
.line{
	border-radius: 4px;
	background: #2067DD;
	width: 100px;
	height: 6px;
	display: inline-block;
}
.box_dvi{
	border: solid 1px #eee;
	border-radius: 6px;
	display: inline-block;
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.fa-15x{font-size: 1.5em !important;}
  .navbar-default{background-color: transparent;}
.bg-slide{
	background: url("../images/bg_slide.png") !important;
	background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: right bottom !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
	height: 500px;
}
.mt-150{margin-top: 150px;}
.bo-none{
	border-color: #fff !important;
}
.text-xam{color: #8B8B8B;}
.text-to{
	font-weight: 200;
	color: #fff;
	font-size: 50px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

@media (min-width: 1200px) {
  .padLR-50{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
}
.bg-trang{
	background: #fff;
}
.box-new{
	background: #fff;
	padding: 20px 10px;
	box-shadow: 0 2px 6px 0 rgba(32, 103, 221, 0.2), 0 4px 20px 0 rgba(32, 103, 221, 0.19);
	border-radius: 4px;
	color: #083071;
	display: block;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}
.box-new1{
	background: #fff;
	padding: 20px;
	box-shadow: 0 2px 6px 0 rgba(32, 103, 221, 0.2), 0 4px 20px 0 rgba(32, 103, 221, 0.19);
	border-radius: 4px;
	color: #083071;
	display: block;
	margin-bottom: 20px;
	
}
.box-tin{
	background: #fff;
	box-shadow: 0 2px 6px 0 rgba(32, 103, 221, 0.2), 0 4px 20px 0 rgba(32, 103, 221, 0.19);
	border-radius: 4px;
	color: #083071;
	display: block;
	margin-bottom: 20px;
}
.box-vien {
    padding: 15px;
    border-radius: 4px;
    border: solid 1px #5ea6ff;
    display: block;
    margin-bottom: 20px;
}
.pad-TB40{padding-top: 40px; padding-bottom: 20px;}
.box-vien h2{color: #fff;font-weight: 600;}
.box-vien p{color: #c9e1ff;}
.bg-xanhduong{background: url("../images/so001.png") repeat top #2067DD;padding-top: 40px; padding-bottom: 20px;}
.font65{font-size: 65px;font-weight: 700;color: #fff;}
.font33{font-size: 33px;font-weight: 700;color: #fff;margin-bottom: 0;margin-top: 0;}
.mh-100{min-height: 106px;}
.bg-trang{
	padding-bottom: 40px;
	padding-top: 40px;
	background: #fff;
}
.pad-0{padding: 0 !important;}
.mh-250{min-height: 635px;}
.box-ndtin{padding: 20px;min-height: 250px}
.text-ft h4{
	font-weight: 200;
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 0;
}
.text-ft h2{font-weight: 700;text-transform: uppercase;margin-top: 0;}
/*mennu shrink*/
nav{-webkit-transition: padding-top .3s,padding-bottom .3s !important;
    -moz-transition: padding-top .3s,padding-bottom .3s !important;
    transition: padding-top .3s,padding-bottom .3s !important;
    border: none !important;
	/*background: #102550;*/
	}
.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #2067DD;
}
/*end shrink*/
.nav-page{
	background: #2067DD !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: #2067DD !important;
	color: #fff !important;
	border-color: #2067DD !important;
}
.nav-tabs{
	border-bottom-color: #2067DD !important;
}
.nav-tabs > li > a{
	color: #707070 !important;
}
.text-bg-NGSP{
	color: rgba(255,255,255,0.05);
	font-weight: 700;
	font-size: 20em;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	line-height: 5rem;
	top: 280px;
}
.tle-trang1{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 5px;
}
.line-trang{
	border-radius: 4px;
	background: #fff;
	width: 100px;
	height: 6px;
	display: inline-block;
}
.min-H250{
	min-height: 232px;
}
.mt-47{
	margin-top: 58px;
}
.pos-a {
    position: relative;
}
.tle-ft {
    color: #a6c6fb;
    margin-bottom: 0;
    text-transform: uppercase;
}
.menu-f li a, .menu-f li, .text-ft p {
    padding-top: 5px;
    display: block;
    color: #fff;
    font-weight: 300;
}